<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="./img/ricky.jpeg" alt="Ananda Ricky" width="20%" class="img-thumbnail rounded-circle">
      <h1 class="display-4">Ananda Ricky</h1>
      <p class="lead">
        Programmer | Lecturer
      </p>
      <div class="mt-3">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, atque voluptatem? Repellat, alias reiciendis. Molestiae ducimus quis vero eaque voluptatem deleniti sunt necessitatibus, ullam reiciendis voluptatibus? Consequatur ipsam ex consequuntur!
        </p>
      </div>
    </div>
  </div>
</div>
